.FileBrowserContainer {
    background-color: #343434;
    width: 200px;
    position: absolute;
    height: 100vh;
    right: 0;
}

.FileBrowserContainer h2 {
    color: white;
    font-family: sans-serif;
    font-size: medium;
    text-align: center;
}
